<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>USSAPP</title>
    <link rel="icon" href="images/deficon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <meta charset="UTF-8">
    <meta name="description" content="USSAPP Home">
    <meta name="keywords" content="Online Project Submission, PUP, Submission platform, Student, Professor, USSAPP Create Account, USSAPP Sign in">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: #eee;">
    <div class="topnav">
        <div class="header">
            <h1>
                <span>
                        <a href="/"><img alt="" src="images/deficon.png" width="48" height="48">USSAPP</a>
                    </span>
            </h1>
        </div>
    </div>

    <div class="newAcc-container">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="student-home">
                        <img alt="" src="images/usericon.png" width="50" height="50">
                        <br>
                        <span th:text="${session.student.username}"></span>
                    </a>
                </li>
                <li>
                    <a href="student-class-page">
                        <img alt="" src="images/group.png" width="35" height="35">
                        <span>Classes</span>
                    </a>
                </li>

                <br><br><br><br><br><br><br>

                <li>
                    <a href="about">
                        <img alt="" src="images/about.png" width="35" height="35">
                        <span>About</span>
                    </a>
                </li>

                <li>
                    <a href="/logout">
                        <img alt="" src="images/logout.png" width="35" height="35">
                        <span>Log-out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="Pracc-content">
        <div class="contitle">
            <div class="PrClasses">
                <div th:if="${session.student.hasClass()} == false">
                    <p>No classes yet</p>
                    <a th:href="@{student-join-class}">
                        <button class="button-class">click here to add one</button>
                    </a>
                </div>

                <div th:if="${session.student.hasClass()}">
                    <a th:href="@{student-get-class-group/{id}(id=${member.subjClass.code})}" th:each="member : ${session.student.getClassMember()}">
                        <input type="button" class="button-class" th:value="${member.subjClass.name}">
                    </a>

                    <a th:href="@{student-join-class}">
                        <button class="button-class">join new class</button>
                    </a>
                </div>

                <div th:if="${error} != null">
                    <span th:text=${error}></span>
                </div>
            </div>
        </div>
    </div>

</body>

</html>