<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>USSAPP</title>
    <link rel="icon" href="images/deficon.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css">
    <meta charset="UTF-8">
    <meta name="description" content="USSAPP Home">
    <meta name="keywords" content="Online Project Submission, PUP, Submission platform, Student, Professor, USSAPP Create Account, USSAPP Sign in">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: #eee;">
    <div class="topnav">
        <div class="header">
            <h1><span><a href="/"><img alt="" src="images/deficon.png" width="48"
								height="48">USSAPP</a></span></h1>
        </div>
    </div>
    <div class="newAcc-container">
        <div class="sidebar">
            <ul>
                <li><a href="#"><span><img alt="" src="images/usericon.png" width="50" height="50"><br><span th:text="${student.username}"></span></a>
                </li>
                <li><a href="student-class-page"><span><img alt="" src="images/group.png" width="35"
									height="35">Classes</span></a></li>
                <br><br><br><br><br><br><br>
                <li><a href="about"><span><img alt="" src="images/about.png" width="35"
									height="35">About</span></a></li>
                <li><a href="/logout"><span><img alt="" src="images/logout.png" width="35"
									height="35">Log-out</span></a></li>
            </ul>
        </div>
        <div class="Pracc-content">
            <div class="contitle">
                <div class="addsub">
                    <h3><span><a href="student-submit-file"><input type="button" name="">Add
									Submission</a></span></h3>
                    <hr>
                </div>
                <div class="PrGroups">
                    <label>Prof</label>
                    <input type="button" name=""></a><br>
                    <h3>Group Members</h3>
                    <label>Member 1</label>
                    <input type="button" name=""></a><br>
                    <label>Member 2</label>
                    <input type="button" name=""></a><br>
                    <label>Member 3</label>
                    <input type="button" name=""></a><br>
                    <label>Member 4</label>
                    <input type="button" name=""></a><br>
                    <label>Member 5</label>
                    <input type="button" name=""></a><br>
                </div>
                <hr>

            </div>
        </div>

</body>

</html>