<!DOCTYPE html>
<html lang="en">

<head>
    <title>USSAPP</title>
    <link href="i/mages/deficon.png" rel="icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
    <link href="/styles/index.css" rel="stylesheet" type="text/css" />
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage"></a>
                <img src="/images/deficon.png" alt="" width="55" height="55" />
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="login">LOG-IN</a></li>
                    <li><a href="signin">GET STARTED</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="home" div class="jumbotron">
        <br />
        <br />
        <br />
        <br />

        <h1>USSAPP</h1>

        <br />
        <p>Unified Submission System for Academic Project Proposal</p>

        <div class="input-group">
            <div class="input-group-btn">
                <div>
                    <a href="signin">
                        <button type="button" class="btn btn-danger">Get Started</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Container (About Section) -->
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>About</h2>
                <br />
                <h4>
                    Unified Submission System for Academic Project Proposal (USAPP) was developed in 2021 by a group of Computer Science students at the Polytechnic University of the Philippines (PUP) with the purpose of convenience, portability, and faster communication
                    of the Professors, Advisors, and other faculty members to students (vice versa) for Academic Submissions. USSAPP is an application used to submit and communicate regarding academic purposes.
                </h4>
                <br />
                <p>
                    One of the main goals of USSAPP is convenience with easy and secured access to classes, professors, and other faculty members. Reducing the unnecessary steps for costly revisions and submissions, consequently adding more time for productivity. Portability,
                    the instant connection to advisors and faculty members to submit and communicate, is one of the best features of USSAPP. Compatible with most types of devices, USSAPP is the gold standard for safe and secure academic engagements.
                </p>
                <br />
                <div>
                    <a href="login">
                        <button type="button" button class="btn btn-default btn-lg">
              Read More
            </button>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="/images/write.jpg" alt="" height="300px" width="400px" />
            </div>
        </div>
    </div>
</body>

</html>