<!DOCTYPE html>
<html lang="en">

<head>
    <title>USSAPP</title>
    <link rel="icon" href="images/deficon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/style.css" />
    <meta charset="UTF-8" />
    <meta name="description" content="USSAPP" />
    <meta name="keywords" content="Online Project Submission, PUP, Submission platform, Student, Professor, USSAPP Create Account, USSAPP Sign in" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="background-color: #ceddd8">
    <div class="signin-container">
        <a href="/"><img src="images/deficon.png" class="avatar" /></a>
        <h1>Create an USSAPP account</h1>
        <div>
            <a href="create-account?type=student"><input type="button" class="studCreate" name="" value="STUDENT" /></a><br />
            <a href="create-account?type=professor"><input type="button" class="profCreate" name="" value="PROFESSOR" /></a>
        </div>
    </div>
</body>

</html>